<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnEpA5YL4EKUWJPm_TkXppF9nSg-MeqEM</string>
	<key>GCM_SENDER_ID</key>
	<string>925879340340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raon.petSitterApp</string>
	<key>PROJECT_ID</key>
	<string>every-pet-4e669</string>
	<key>STORAGE_BUCKET</key>
	<string>every-pet-4e669.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925879340340:ios:c364a369432d5b01162961</string>
</dict>
</plist>